

* {
  box-sizing: border-box;
}

body {

   font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  background-image: url(./cord.png);
  background-size: 987px;
  color: rgb(251, 238, 230);
}

h1 {
  text-shadow: 5px 5px rgb(250, 127, 70);
}

.container { /* задать ширину и выровнять по середине */
  max-width: 980px;
  margin: 0 auto;
}
.row { /* строка */
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 10px;
}
.col-1 {
  flex: 8.3% 0 0;
}
.col-2 {
  flex: 16.6% 0 0;
}
.col-3 {
  flex: 25% 0 0;
}
.col-4 {
  flex: 33.3% 0 0;
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}
.col-12 {
  flex: 100% 0 0;
}

.card {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(26, 218, 135);
  box-shadow: 10px 10px 0 0 rgb(10, 98, 205);
  text-shadow: 5px 2px 20px wheat;

  transition: all 100ms ease-in;

  margin-bottom: 100px;
}
.card .card-image {
  width: 100%;
}
.card:hover {
  transform:rotate(-2deg) ;
}
.card .card-content {
  padding: 20px 30px;
}
.card.card-horizonal {
  display: flex;
  
}

.card.card-horizonal .card-image {
  width: 70%;
 
}